#media-add-upload, #media-add-upload-multiple {
  position: relative;
}

#media-add-upload .form-item, #media-add-upload-multiple .form-item {
  padding-left: 320px;
}

#media-add-upload #folder, #media-add-upload-multiple #folder {
  width: 300px;
  position: absolute;
  top: 0;
  background-color: #EEE;
  height: 300px;
  overflow: scroll;
}